body {
  font-family: "Inter";
  margin: 0px;
  padding: 0px;
  color: #ffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-image: url("../img/back.png");
  background-position-x: center;
}

/* animation */

.element-animation {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 0.8s;
  transform: translateY(0%);
}

.hidden-background {
}

nav {
  z-index: 1;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
}

/* NavBar */

.bg-l1ght {
  background-color: #141414e7;
  transition: all 0.3s;
}

.nv {
  padding-left: 100px;
  padding-right: 100px;
}

.navbar {
  position: sticky;
  top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.navbar-toggler {
  border: 1px solid #ffff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(197, 197, 197)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0px 0px 0px #ffff;
}

.navbar-brand {
  font-family: "Inter";
  font-weight: bold;
  font-size: 28px;
  color: #ffff;
  transition: all 0.1s;
}

.navbar-brand:hover {
  color: #c5c5c5;
  transition: all 0.1s;
}

.nav-item {
  list-style: none;
  padding-left: 50px;
}

.nav-link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.nav-link:hover {
  color: #c5c5c5;
}

.head-icon {
  padding: 0px;
  margin: 0px;
  margin-left: 25px;

  text-decoration: none;
}

.h-icon {
  width: 30px;
}

/* Main */

.main__box {
  margin-top: 150px;
}

.main__box-title {
  margin: 0px;
}

.main__container {
  text-align: center;
}

.main__title {
  margin: 0px;
}

.main-tit {
  font-family: "Inter";
  font-weight: 600;
  margin: 0px;
  font-size: 62px;
}

.main__text {
  margin: 0px;
}

.main-txt {
  font-family: "Inter";
  font-weight: 400;
  margin: 0px;
  margin-top: 20px;
  font-size: 20px;
  color: #757575;
}

.main_buttons {
  margin: 0px;
  margin-top: 30px;
}

.btn {
  font-family: "Inter";
  font-weight: 400;
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  color: #ffff;
  background: linear-gradient(45deg, #dc1111, #fd9638);
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.03);
  background: linear-gradient(5deg, #dc1111, #fd9638);
  color: #ffff;
  transition: all 0.3s;
}

.passage__box {
}

.passage__container {
  margin-top: 200px;
}

.passage__main {
  text-align: center;
}

.passage__title {
  margin: 0px;
}

.pass-tit {
  font-family: "Inter";
  font-weight: 500;
  font-size: 48px;
  margin: 0px;
}

.passage__text {
  margin: 0px;
}

.pass-txt {
  font-family: "Inter";
  font-weight: 400;
  margin: 0px;
  color: #757575;
}

.passage__switch {
  margin: 0px;
}

/* CARDS */

.col {
  display: flex;
  justify-content: center;
}

.passage__cards {
  padding-left: 65px;
  padding-right: 65px;
  margin: 0px;
  margin-top: 100px;
}

.card-pass {
  margin: 20px;
  padding: 40px;
  width: 300px;
  height: 400px;
  text-align: center;
  background-color: #1f1f1f;
  border-radius: 40px;
}

.card-pass-white {
  padding: 40px;
  margin: 20px;

  width: 300px;
  height: 400px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 40px;
}

.card__container-white {
  color: #000000;
  margin: 0px;
}

.price-white {
  font-size: 44px;

  color: #000000;
  font-weight: bold;
}

.card__container {
  color: #ffffff;

  margin: 0px;
}

.card-title {
  margin: 0px;
  margin-bottom: 15px;
}

.card-tit {
  font-family: "Inter";
  margin: 0px;
  font-size: 28px;
  font-weight: bold;
}

.card-text {
  margin: 0px;
  margin-bottom: 15px;
}

.card-txt {
  color: #757575;
  font-weight: 600;
  font-family: "Inter";
  margin: 0px;
}

.price {
  color: #ffffff;
  font-family: "Inter";
  font-size: 44px;
  font-weight: bold;
}

.card-list {
  margin: 0px;
}

.card-li {
  font-weight: 600;
  margin: 0px;
  margin-bottom: 30px;
}

.c-li {
  margin: 0px;
  margin-bottom: 15px;
}

.card-button {
  margin: 0px;
  padding-top: 15px;
}

.card-btn {
  margin: 0px;
}

.btn-c {
  font-family: "Inter";
  font-weight: 400;
  border-radius: 10px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  color: #ffff;
  background: linear-gradient(45deg, #dc1111, #fd9638);
  transition: all 0.4s;
}

.btn-c:hover {
  transform: scale(1.03);
  background: linear-gradient(5deg, #dc1111, #fd9638);
  color: #ffff;
  transition: all 0.4s;
}

/* CARDS END */

/* Contact */

.contact-main {
  margin-top: 100px;
}

.contact-block-tit {
  margin: 0px;
  padding: 0px;
  margin-bottom: 100px;
}

.contact-title {
}

.c-tit {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #ffffff;
}

.contact-block-icon {
}

.contact-block {
  text-align: center;
}

.contact-icon {
}

.contact-icon-txt {
}

.c-txt {
  font-family: "Inter";
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  font-size: 20px;
  color: #ffffff;
}

.c-txt-link {
  font-family: "Inter";
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
  color: #757575;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.icon {
  transition: all 0.3s;
}

.icon:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

/* contact end */

/* FOOTER */

footer {
  margin-top: 100px;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.footer-block {
  padding: 20px;
  border-radius: 20px;
  background-color: #141414;
}

.footer-title {
}

.f-tit {
  margin: 0px;
  font-family: "Inter";
  font-weight: bold;
  font-size: 48px;
}

.copy-block {
}

.copy-text {
  padding: 0px;
  padding-top: 12.5px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.copy-txt {
  padding: 0px;
  margin: 0px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  text-decoration: none;
}

.copy-txt:hover {
  color: #c5c5c5;
  transition: 0.3s;
}

.society-block {
  padding: 0px;
  margin: 0px;
}

.society-list {
  padding: 0px;
  margin: 0px;
}

.soc-ul {
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: space-between;
}

.soc-li {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}

.soc-icon {
  width: 70px;
}

/* footer end */

/* ADAPTATION */

@media (max-width: 992px) {
  .society-block {
    display: none;
  }

  .nv {
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .contact-block-icon {
    margin: 10px;
  }

  .head-icon {
    padding-left: 50px;
    padding-right: 0px;
  }

  .footers {
    display: flex;
    flex-direction: column;
  }

  .nv {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }

  .passage__cards {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }

  nav {
    margin: 0px;
    padding: 0px;
  }

  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }

  .head-icon {
    margin: 0px;
  }
}

@media (max-width: 576px) {
  .main-tit {
    font-size: 48px;
  }

  .main-txt {
    margin-top: 10px;
  }

  .pass-tit {
    font-size: 36px;
  }

  .c-tit {
    font-size: 38px;
  }

  .card-pass {
    height: auto;
  }

  .card-pass-white {
    height: auto;
  }

  .btn-c {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .icon {
    width: 90px;
  }
}
